@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(33, 91, 112);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url(https://www.spohnranch.com/wp-content/uploads/2023/07/RedondoBeachSkateparkSpohnRanch_Fs5.0_P.jpg);
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

